@page "/Employee/details/{Id:int}"

@if (employeeENT == null || employeeENT.Department == null) 
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h1>@employeeENT!.FirstName @employeeENT.LastName @Coordinates</h1>
                </div>


                <div class="card-body text-center">
                    <img class="card-img-top" src="@employeeENT.PhotoPath"
                         @onmousemove="@Mouse_Move" />
                    <img class="card-img-top" src="@employeeENT.PhotoPath"
                         @onmousemove="@(e => Coordinates = $"X = {e.ClientX} Y = {e.ClientY}")" />
                    <h1>@Coordinates</h1>
                    <h4>ID : @employeeENT.Id</h4>
                    <h4>Firs tName: @employeeENT.FirstName</h4>
                    <h4>Last Name: @employeeENT.LastName</h4>
                    <h4>Gender : @employeeENT.Gender</h4>
                    <h4>Date Of Brith : @employeeENT.DateOfBrith</h4>
                    <h4>Email : @employeeENT.Email</h4>
                    <h4>Department : @(employeeENT.Department == null? "N/A":employeeENT.Department.DepartmentName)</h4>

                    <button class="btn btn-primary" @onclick="@Button_Click">@ButtonText</button>
                </div>
                <div class="card-footer text-center @CssClass" >
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="/Employee/edit/@employeeENT.Id" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}